footer {
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.rodape {
    background-color: hsl(240, 24%, 10%);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    width: 100%;
    height: 35px;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
}

span {
    color: #C4C4C4;
    font-size: 10px;
    align-items: flex-end;
}