.container {
    display: flex;
    flex: 1;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    margin: 1rem;
}

.example-card {
    max-width: 300px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  