* {
    font-weight: bold;
}

.listagem {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0 15px 0;
}

.card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin: 15px 15px 15px 15px;
}

.img {
    width: auto;
    height: 110px;
    padding: 2px;
}

.conteudo {
    height: 50%;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.id {
    font-size: 12px;
    padding: 2px;
}

.nome {
    font-size: 12px;
    padding: 2px;
}

.btn-card {
    font-size: 10px;
    margin: 10px;
    padding: 2px;
    color: #fff;
    background-color: hsl(240, 24%, 10%);
    border: none;
    border-radius: 5px;;
}

.salario {
    font-size: 12px;
    padding: 2px;
}

.cargo {
    font-size: 12px;
    padding: 2px;
}

.ativo {
    color: green;
    font-size: 9px;
    text-align: center;
    padding: 1px;
}

.inativo {
    color: red;
    font-size: 9px;
    text-align: center;
    padding: 1px;
}
