<header class="navbar">
    <h1 class="navbar-title">ANIME</h1>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/anime-list']" >Animes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/characters-list']" >Personagens</a>
        </li>
        <!--
        <li class="nav-item">
            <a class="nav-link">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Sair</a>
        </li>
    -->
    </ul>
</header>