<section class="listagem">
    <div class="card">
        <img src="{{ colaborador.imagem }}" class="img">
        <div class="conteudo">
            <p class="id">ID: {{ colaborador.id }}</p>
            <h3 class="nome">Nome: {{ colaborador.nome }}</h3>
            <p class="salario">Salário: {{ colaborador.salario }}</p>
            <p class="cargo">Cargo: {{ colaborador.cargo }}</p>
        </div>
    </div>
    <div class="card">
        <img src="{{ colaborador.imagem }}" class="img">
        <div class="conteudo">
            <p class="id">ID: {{ colaborador.id }}</p>
            <h3 class="nome">Nome: {{ colaborador.nome }}</h3>
            <p class="salario">Salário: {{ colaborador.salario }}</p>
            <p class="cargo">Cargo: {{ colaborador.cargo }}</p>
        </div>
    </div>
    <div class="card">
        <img src="{{ colaborador.imagem }}" class="img">
        <div class="conteudo">
            <p class="id">ID: {{ colaborador.id }}</p>
            <h3 class="nome">Nome: {{ colaborador.nome }}</h3>
            <p class="salario">Salário: {{ colaborador.salario }}</p>
            <p class="cargo">Cargo: {{ colaborador.cargo }}</p>
        </div>
    </div>
    <div class="card">
        <img src="{{ colaborador.imagem }}" class="img">
        <div class="conteudo">
            <p class="id">ID: {{ colaborador.id }}</p>
            <h3 class="nome">Nome: {{ colaborador.nome }}</h3>
            <p class="salario">Salário: {{ colaborador.salario }}</p>
            <p class="cargo">Cargo: {{ colaborador.cargo }}</p>
        </div>
    </div>
    <div class="card">
        <img src="{{ colaborador.imagem }}" class="img">
        <div class="conteudo">
            <p class="id">ID: {{ colaborador.id }}</p>
            <h3 class="nome">Nome: {{ colaborador.nome }}</h3>
            <p class="salario">Salário: {{ colaborador.salario }}</p>
            <p class="cargo">Cargo: {{ colaborador.cargo }}</p>
        </div>
    </div>
    <div class="card">
        <img src="{{ colaborador.imagem }}" class="img">
        <div class="conteudo">
            <p class="id">ID: {{ colaborador.id }}</p>
            <h3 class="nome">Nome: {{ colaborador.nome }}</h3>
            <p class="salario">Salário: {{ colaborador.salario }}</p>
            <p class="cargo">Cargo: {{ colaborador.cargo }}</p>
        </div>
    </div>
    <div class="card">
        <img src="{{ colaborador.imagem }}" class="img">
        <div class="conteudo">
            <p class="id">ID: {{ colaborador.id }}</p>
            <h3 class="nome">Nome: {{ colaborador.nome }}</h3>
            <p class="salario">Salário: {{ colaborador.salario }}</p>
            <p class="cargo">Cargo: {{ colaborador.cargo }}</p>
        </div>
    </div>
    <div class="card">
        <img src="{{ colaborador.imagem }}" class="img">
        <div class="conteudo">
            <p class="id">ID: {{ colaborador.id }}</p>
            <h3 class="nome">Nome: {{ colaborador.nome }}</h3>
            <p class="salario">Salário: {{ colaborador.salario }}</p>
            <p class="cargo">Cargo: {{ colaborador.cargo }}</p>
        </div>
    </div>
    <div class="card">
        <img src="{{ colaborador.imagem }}" class="img">
        <div class="conteudo">
            <p class="id">ID: {{ colaborador.id }}</p>
            <h3 class="nome">Nome: {{ colaborador.nome }}</h3>
            <p class="salario">Salário: {{ colaborador.salario }}</p>
            <p class="cargo">Cargo: {{ colaborador.cargo }}</p>
        </div>
    </div>
    <div class="card">
        <img src="{{ colaborador.imagem }}" class="img">
        <div class="conteudo">
            <p class="id">ID: {{ colaborador.id }}</p>
            <h3 class="nome">Nome: {{ colaborador.nome }}</h3>
            <p class="salario">Salário: {{ colaborador.salario }}</p>
            <p class="cargo">Cargo: {{ colaborador.cargo }}</p>
        </div>
    </div>
    
</section>